<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task List</title>
  </head>
  <body>
    <h1>Task List</h1>
    <hr />
    <form>
      <p>Title: <%= title%></p>
      <p>description: <%= description%></p>
    </form>
  </body>
</html>
